<style>
    body {
      font-family: Nunito, sans-serif;
      color: darkslategray;
    }
  
    .image-table {
      width: 100%;
      margin: 5px auto;
      border-collapse: collapse;
      border: 1px solid #E3F1D5;
      table-layout: fixed;
    }
  
    .image-table th {
      font-size: 14px;
      border: 1px solid #E3F1D5;
      background-color: #888888;
      padding: 8px;
      margin: 10px;
      text-align: center;
      color: white;
    }
  
    .image-table td {
      font-size: 12px;
      border: 1px solid #E3F1D5;
      text-align: center;
      padding: 8px;
    }
  
    .image {
      display: block;
      width: 100%;
      height: auto;
      max-height: 250px;
      margin: 0 auto;
    }
  </style>
  
  <% var tableCounter = 0; %>
<table class="image-table">
  <% for (var i = 0; i < images.length; i += factor) { %>
    <% if (i === 0) { %>
      <thead>
        <tr>
          <th colspan="<%= Math.min(factor, images.length) %>"><%= imagesHeader %></th>
        </tr>
      </thead>
    <% } %>
    <tbody>
      <tr>
        <% for (var j = i; j < Math.min(i + factor, images.length); j++) { %>
          <td>
              <!-- Add debugging here -->
              <!--p><%= "i: " + i + ", j: " + j + ", factor: " + factor %></p>
              <p><%= "image is: " +images[j]%> </p-->
              <% if(images[j]) { %>
                <img class="image" src="<%= images[j].compressedUrl %>" />
            <% } else { %>
                <!-- Some default value or handle the error case -->
                <img class="image" src="<%= logoPath %>" />
            <% } %>
          </td>
      <% } %>
      </tr>
    </tbody>
    <% if ((i + factor) % (16 * factor) === 0 && i + factor < images.length) { %>
      </table>
      <div style="page-break-before: always;"></div>
      <table class="image-table">
    <% } %>
  <% } %>
</table>