<h2 style="text-align: center; font-family: Nunito, sans-serif;"><strong><%= projectHeader %></strong></h2>
<table style="border-spacing: initial; border-collapse: collapse; background: #F0F0F0; width: 100%; margin: 5px auto; position: relative; border: 1px solid #E3F1D5; line-height: 1.625; color: darkslategray; font-family: Nunito, sans-serif;">
    <tbody>
        <tr style=" font-size: 12px; border: 1px solid #E3F1D5; background: #C0C0C0;">
            <td style="width: 50%; text-align: left; padding: 8px;  ">
                <strong>Project Name:</strong>
            </td>
            <td style="width: 50%; text-align: left; padding: 8px; border-left: groove; ">
                <p><%= name %></p>
            </td>
        </tr>
        <tr style=" font-size: 12px; border: 1px solid #E3F1D5;">
            <td style="width: 50%; text-align: left; padding: 8px;  ">
                <strong>Project Address:</strong>
            </td>
            <td style="width: 50%; text-align: left; padding: 8px; border-left: groove; ">
                <p><%= address %></p>
            </td>
        </tr>
        <tr style=" font-size: 12px; border: 1px solid #E3F1D5; background: #C0C0C0;">
            <td style="width: 50%; text-align: left; padding: 8px;  ">
                <strong>Project Description:</strong>
            </td>
            <td style="width: 50%; text-align: left; padding: 8px; border-left: groove; ">
                <p><%= description %></p>
            </td>
        </tr>
        <tr style=" font-size: 12px; border: 1px solid #E3F1D5;">
            <td style="width: 50%; text-align: left; padding: 8px;  ">
                <strong>Created Date:</strong>
            </td>
            <td style="width: 50%; text-align: left; padding: 8px; border-left: groove; ">
                <p><%= createdat %></p>
            </td>
        </tr>
        <tr style=" font-size: 12px; border: 1px solid #E3F1D5; background: #C0C0C0;">
            <td style="width: 50%; text-align: left; padding: 8px;  ">
                <strong>Created By:</strong>
            </td>
            <td style="width: 50%; text-align: left; padding: 8px; border-left: groove; ">
                <p><%= lasteditedby %></p>
            </td>
        </tr>
        <tr style=" font-size: 12px; border: 1px solid #E3F1D5; height: auto;">
            <td style="width: 100%; text-align: center; padding: 1px; vertical-align: top;" colspan="2">
                <img style="max-height: 100%; width: 100%;"  src="<%= url %>" />
            </td>
        </tr>
    </tbody>
</table>